body {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 24%, rgba(0, 212, 255, 1) 100%);
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
}

button {
  background-color: transparent;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 5px;
  border-radius: 3px;
  border: none;
  border: solid 1px white;
}

.gap_1 {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.passo {
  display: none;
}

.passo.ativo {
  display: block;
}

main {
  text-align: center;
  max-width: 90%;
}

img {
  max-width: 90%;
  border-radius: 12px;
}

.escrita {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation:
    typing 1s forwards;
  font-size: 1.6rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}